venv
.venv
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

Google_ADK\tool_agent\tool_agent\.env
Google_ADK\tool_agent\tool_agent\.env\
Google_ADK\tool_agent\tool_agent\__pycache__
Google_ADK\basic_agent\greeting_agent\__pycache__