venv
.venv
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
C:\DatSciX\Research\Google_ADK\tool_agent\tool_agent\.env
C:\DatSciX\Research\Google_ADK\tool_agent\tool_agent\.env\
C:\DatSciX\Research\Google_ADK\tool_agent\tool_agent\__pycache__
C:\DatSciX\Research\Google_ADK\basic_agent\greeting_agent\__pycache__